*{
  margin: 0;
  padding: 0;
  border: 0;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 586349 */
  src: url('http://at.alicdn.com/t/font_586349_vejihmymqplj714i.eot');
  src: url('http://at.alicdn.com/t/font_586349_vejihmymqplj714i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_586349_vejihmymqplj714i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_586349_vejihmymqplj714i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_586349_vejihmymqplj714i.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:28px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
ul,ol{
    list-style: none;
}
.router-link-active{
  color: #202020 !important;
}
.no-list{
  width: 100%;
  line-height: 20vh;
}
.container{
  background-color: #ececec;
  min-height: 100vh;
}
.top-header.mint-header{
  background-color: #f8f8f8;
  color: black;
}